.add-container {
    background-color: var(--color-offwhite);
    width: 50%;
    margin-inline: auto;
    padding: 2rem;
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .add-container {
        width: 90%;
        padding: 1rem;
    }
}