# For backend
ASPNETCORE_ENVIRONMENT=
ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=YOUR_DB_NAME;Username=YOUR_DB_USER;Password=YOUR_DB_PASSWORD
JWT__Key=tihihiha=====mig=borr=di========banankaka=ooll================hehehehe========
Jwt__Issuer=issuer_name
Jwt__Audience=audience_name
Jwt__ExpireMinutes=60 
AllowedOrigins=http://yourcoolfrontend.com

# For db
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
