
.recipe-container {
    background-color: var(--color-offwhite);
    display: flex;
    flex-direction: row;
    gap: 2rem;

    position: relative;

    width: fit-content;
    max-width: 80%;
    margin-inline: auto;
    padding: 2rem;
    border-radius: 1rem;
}

.recipe-page .recipe-image {
    width: 15rem;
    border-radius: .5rem;
}

.recipe-page .back-arrow {
    position: absolute;
    top: 2rem;
    left: 2rem;

    color: #ffffff;
    height: fit-content;
}

.recipe-page .recipe-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

.recipe-header {
    display: grid;
    grid-template-columns: 1fr 2em 2em;
    gap: 1rem;
    align-items: center;
}

.recipe-header img {
    width: 2em;
    height: 2em;
    cursor: pointer;
    padding: 0.25em;
    border-radius: 0.5em;
}

.recipe-page ol li {
    margin-bottom: 1rem;
    font-weight: 350;
}

.icon {
        background-color: var(--color-green1);
}

.delete-button {
    background-color: var(--color-rederror);
}

@media (max-width: 768px) {
    .recipe-container {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        padding: 1rem;
    }

    .recipe-page .recipe-image {
        width: 100%;
        max-width: 300px;
    }

    .recipe-header {
        grid-template-columns: 1fr 2em 2em;
        gap: 0.5rem;
    }
}